<div class="active-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="active-title">
          <h2>Активные конкурсы</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-lg-12 col-md-12"> -->
      <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <small-postcard></small-postcard>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <small-postcard></small-postcard>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <small-postcard></small-postcard>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <small-postcard></small-postcard>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <small-postcard></small-postcard>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <small-postcard></small-postcard>
        </div>


      </div>
    </div>
  </div>
</div>
