<div class="ended-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="ended-title">
          <h2>Прошлые конкурсы</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-lg-12 col-md-12"> -->
      <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <big-postcard ng-transclude></big-postcard>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <big-postcard ng-transclude></big-postcard>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <big-postcard ng-transclude></big-postcard>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <big-postcard ng-transclude></big-postcard>
        </div>
        <div class="btn btn-default pull-right more">
          Загрузить еще
        </div>
      </div>
    </div>
  </div>
</div>
