<header-box-menu></header-box-menu>
<div class="top-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="down-header">
          <div class="header-img-box">

          </div>
          <div class="item-box">
            <div class="item-symbol">
            </div>
            <div class="item-background">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<main class="main-block">
  <active-block ng-transclude></active-block>
  <ended-block ng-transclude></ended-block>
</main>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        <div class="top-footer-box">
          <div class="icon-box">
            <div class="icon-circle">
              <div class="inner-circle">
                A
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        <div class="main-footer-box">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        <div class="down-footer-box dark-local-menu">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 left-block">
            <l-button class="l-btn set">конкурсы</l-button>
            <l-button class="l-btn">о проекте</l-button>
            <l-button class="l-btn">организаторы</l-button>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <login-button class="pull-right">Войти</login-button>
            <div class="footer-social">
              <div class="social-box">
                <ul>
                  <a href="#">
                    <li class="social-btn">
                      <i class="fa fa-vk fa-lg"></i>
                    </li>
                  </a>
                  <a href="#">
                    <li class="social-btn">

                      <i class="fa fa-facebook fa-lg"></i>
                    </li>
                  </a>
                  <a href="#">
                    <li class="social-btn">
                      <i class="fa fa-instagram fa-lg"></i>
                    </li>
                  </a>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
