.circle {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
}
.big-postcard-box {
  width: 100%;
  height: auto;
  margin-top: 30px;
  .postcard-content {
    height: 270px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    .up-layer {
      border-radius: 10px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      background-color: rgba(30,30,30, 0.2);
      .work-author-box {
        position: absolute;
        width: 70%;
        height: 115%;
        top: -20px;
        left: -70px;
        .circle-1 {
          @extend .circle;

          // background-color: red;
          background-color: rgba(236,147,109, 0.2);
          padding: 50px;
          z-index: 1;
          .circle-2 {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 2;
            padding: 20px;
            border-radius: 50%;

            // background-color: blue;
            background-color: rgba(236,147,109, 0.2);
            .circle-3 {
              width: 100%;
              height: 100%;
              position: relative;
              z-index: 3;
              padding: 15px;
              border-radius: 50%;

              // background-color: grey;
              background-color: rgba(236,147,109, 0.3);
              .circle-4 {
                width: 100%;
                height: 100%;
                padding: 5px;
                border-radius: 50%;

                // background-color: black;
                background-color: rgba(236,147,109, 0.5);
                text-align: center;
                z-index: 4;
              }
            }
          }
        }
      }
      .work-author-innerbox {
        margin: 4px 0 0;
        display: inline-block;
        text-align: center;
        .author-picture {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          overflow: hidden;
          img {
            transform: scale(1.2,1.2);
            display: inline-block;
            width: 100%;
            height: 100%;
          }
        }
        .author-info {
          margin-top: 10px;
          color: #ffffff;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 2px;
        }
      }
      .description {
        display: inline-block;
        font-size: 22px;

        // margin: 75px 50px 0 0;
        margin: 75px 35px 0 0;
        text-align: right;
        color: #ffffff;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
        float: right;
        &::after {
          display: inline-block;
          content: "";
          color: #ffffff;
          width: 35%;
          height: 5px;
          background-color: #ffffff;
        }
      }
      .like-social-box {
        position: absolute;
        bottom: 10px;
        right: 30px;
        display: inline-block;
        color: white;
        a {
          color: #ffffff;
          text-decoration: none;
          margin: 0 7px;
        }
        .social-box {
          position: relative;
          display: inline-block;
          i {
            display: inline-block;
          }
          .like-count {
            display: inline-block;
          }
        }
        .user-social-box {
          position: relative;
          display: inline-block;
          margin-right: 20px;
          color: white;
          i {
            transition: all 0.3s ease-in-out;
            &:hover {
              color: #EC936D;
            }
          }
        }
      }
    }
    .content-img {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      img {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
  }
}
