.left-up-border {
  border-radius: 8px 0 0 0!important;
}
.right-up-border {
  border-radius: 0 8px 0 0!important;
}
.btn-row {
  height: auto;
  .btn-box {
    padding: 0;
    a {
      line-height: 65px;
    }
    .global-btn {
      display: inline-block;
      height: 55px;
      width: 100%;
      text-transform: uppercase;
      color: #000000;
      background-color: #E4E4E4;
      border-radius: 0;
    }
    .global-btn.set {
      background-color: #FF733E;
      color: #ffffff;
    }
  }
  .line {
    &::before {
      content: "";
      position: absolute;
      margin-top: 18px;
      border-left: 2px solid #8E8E8E;
      height: 20px;
    }
  }
}
