.menu-box {
  margin-top: 25px;
  .menu-items {
    position: relative;
    width: auto;
    height: 350px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(30,30,30, 0.8) 0 0 15px;
    z-index: 999;
    .down-menu{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
    }
  }
}
