@keyframes underline {
  from {
    width: 0;
    margin-left: 50%;
  }
  to {
    width: 100%;
    margin-left: 0;
  }
}
.home-light-local-menu {
  .l-btn {
    display: inline-block;

    margin: 0 25px;

    transition: all 0.3s ease-in-out;
    .local-btn {
      font-size: 20px;
      height: 30px;
      border: none;
      border-radius: 0;
      padding: 0;
      text-transform: uppercase;
    }
    .btn.btn-default {
      &:hover {
        background: none;
      }
    }
    &:hover {
      .underline {
        animation-name: underline;
        animation-duration: 0.6s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        border-bottom: 2px solid black;
      }
    }
  }
  .l-btn.set {
    border-bottom: 2px solid black;
  }
}
.dark-local-menu {
  .l-btn {
    margin: 0 40px;
  }
  .l-btn {
    display: inline-block;
    margin: 0 20px;
    .local-btn {
      font-size: 16px;
      // height: 30px;
      border: none;
      border-radius: 0;
      padding: 0;
      color: #727275;
      text-transform: uppercase;
      background: transparent;
      transition: all 0.2s ease-in-out;
    }
    .btn.btn-default {
      &:hover {
        background: none;
        color: white;
      }
    }
  }
  .l-btn.set {
    .local-btn {
      color: white;
    }
  }
}
