.log-btn {
  position: relative;
  right: 0;
  width: 115px;
  border-radius: 15px;
  background-color: #1C61E0;
  color: rgba(230,230,230, 0.8);
  font-weight: 600;
  text-transform: uppercase;
  float: right;
  margin-right: 40px;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: white;
  }
}

.dark-local-menu{
  .log-btn{
    margin: 0 0 0 15px;
  }
}
