@import '~bootstrap/dist/css/bootstrap.css';
@import "./global-menu.scss";
@import './header-content.scss';
@import "./local-menu.scss";
@import "./header-box-menu.scss";
@import './local-button.scss';
@import './login-button.scss';
@import './small.postcard.scss';
@import './big.postcard.scss';
body {
  background-color: #2F354E;
  padding: 0;
  margin: 0;
}
.social-box {
  ul {
    display: inline-block;
    padding: 0;
    list-style-type: none;
    color: white;
    margin: 0;
    a {
      display: inline-block;
      color: #727275;
      transition: all 0.2s ease-in-out;
      padding: 0 10px;
      &:hover {
        color: #6C97FF;
      }
    }
    .social-icon {
      display: inline-block;
      width: 48px;
      height: 48px;
      color: white;
    }
  }
}
