.postcard-box {
  width: 100%;
  height: auto;
  background-color: grey;
  margin-top: 20px;
  border-radius: 10px;
  .postcard-header {
    display: block;
    border-radius: 10px 10px 0 0;
    height: 45px;
    width: 100%;
    background-color: #D4D4D4;
    .work-count {
      display: inline-block;
      width: auto;
      padding: 13px;
    }
    .work-timer {
      display: inline-block;
      float: right;
      padding: 3px 13px;
      .days {
        float: right;
      }
      .time {

      }
    }
  }
  .postcard-content {

    // height: 270px;
    height: 230px;
    position: relative;
    .up-layer {
      border-radius: 0 0 10px 10px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      background-color: rgba(104,144,234, 0.8);
      .description {
        font-size: 22px;
        margin-top: 60px;
        text-align: center;
        color: #ffffff;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
    .content-img {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      img {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
    .look-box {
      position: absolute;
      bottom: 10px;
      right: 30px;

      // margin-right: 30px;
      z-index: 3;
      i {
        color: #ffffff;
      }
      .eye-count {
        display: inline-block;
        margin-left: 10px;
        position: relative;
        color: white;
      }
    }
  }
}
