.ended-box {
  width: 100%;
  height: auto;
  background-color: white;
  padding-bottom: 75px;
  .ended-title {
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
    h2 {
      margin: 0;
    }
  }
  .btn.btn-default {
    background-color: transparent;
    &:hover {
      background-color: none;
    }
  }
  .more {
    border: none;
    font-weight: 600;
    margin-right: 10px;
  }
}
