@import './activeCompetitions-block.scss';
@import './endedCompetitions-block.scss';
.dark {

}
.top-block {
  position: absolute;
  top: 35px;
  width: 100%;
  .container-fluid {
    .row {
      .col-lg-12,
      .col-md-12 {
        padding: 0;
      }
      .top-header {

      }
      .down-header {
        background-color: #6890EA;
        position: relative;
        margin-top: 35px;
        width: 100%;
        height: 350px;
      }
    }
  }
}
.main-block {
  margin-top: 45px;
}
.footer {
  .left-block {
    height: 100%;
    display: inline-block;
    padding: 10px 0;
  }
  .right-block {
    display: inline-block;
    float: right;
    height: 100%;
  }
  .top-footer-box {
    width: 100%;
    text-align: center;
    .icon-box {
      margin-top: -23px;
      width: auto;
      .icon-circle {
        border-radius: 50%;
        display: inline-block;
        width: 46px;
        height: 46px;
        background-color: #ffffff;
        padding: 2px;
        .inner-circle {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 2px solid #2F354E;
          font-size: 26px;
          color: #DE5858;
        }
      }
    }
  }
  .main-footer-box {
    display: inline-block;
    width: 100%;
    height: 250px;
  }
  .down-footer-box {
    display: inline-block;
    width: 100%;
    height: auto;
    .footer-social {
      float: right;
      display: inline-block;
      padding: 7px 10px;
    }
  }
}
