<div class="big-postcard-box">
  <div class="postcard-content">
    <div class="up-layer">
      <div class="work-author-box">
        <div class="circle-1">
          <div class="circle-2">
            <div class="circle-3">
              <div class="circle-4">
                <div class="work-author-innerbox">
                  <div class="author-picture">
                    <img src="../resources/images/userPhoto.jpg">
                  </div>
                  <div class="author-info">
                    Вася
                    </br>
                    Пупкин
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="description">
        Освещение
        </br>
        в интерьере
        </br>
      </div>
      <div class="like-social-box">
        <div class="social-box">
          <div class="user-social-box">
            <a href="#">
              <i class="fa fa-lg fa-vk"></i>
            </a>
            <a href="#">
              <i class="fa fa-lg fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fa fa-lg fa-instagram"></i>
            </a>
          </div>
          <div class="like-count">
            1685
          </div>
          <i class="fa  fa-heart"></i>
        </div>
      </div>
    </div>
    <div class="content-img">
      <img src="../resources/images/dsImgBig.jpg">
    </div>


  </div>
</div>
