<div class="btn-row">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 btn-box">
        <a href="#" class="btn btn-lg global-btn left-up-border set" role="button">конкурсы</a>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 btn-box">
        <a href="#" class="btn btn-lg global-btn" role="button">мероприятия</a>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 btn-box line">
        <a href="#" class="btn btn-lg global-btn right-up-border" role="button">обучение</a>
      </div>
    </div>
  </div>

</div>
