<div class="container menu-box">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
      <div class="menu-items">
        <global-menu></global-menu>
        <header-content></header-content>
        <div class="down-menu">
          <local-menu class="home-light-local-menu"></local-menu>
          <log-button class="">Войти</log-button>
        </div>
      </div>
    </div>
  </div>
</div>
