<div class="content-item">
  <div class="social-box">
    <ul>
      <a href="#">
        <li class="social-btn">
          <i class="fa fa-vk fa-lg"></i>
        </li>
      </a>
      <a href="#">
        <li class="social-btn">

          <i class="fa fa-facebook fa-lg"></i>
        </li>
      </a>
      <a href="#">
        <li class="social-btn">
          <i class="fa fa-instagram fa-lg"></i>
        </li>
      </a>
    </ul>

  </div>
  <div class="main-title">

  </div>
</div>
