<div class="postcard-box">
  <div class="postcard-header">
    <div class="work-count">
      25 работ
    </div>
    <div class="work-timer">
      <div class="days">
        05 дня
      </div>
      <div class="time">
        08:35:03
      </div>
    </div>
  </div>
  <div class="postcard-content">
    <div class="up-layer">
      <div class="description">
        Освещение
        </br>
        в интерьере
      </div>
    </div>
    <div class="content-img">
      <img src="../resources/images/dsImg.jpg">
    </div>
    <div class="look-box">
      <i class="fa fa-eye"></i>
      <div class="eye-count">
        1578
      </div>
    </div>
  </div>
</div>
